<div class="footer">
		<div class="container-narrow">
			<div class="row-fluid">
				<div class="span6">
					<p class="ftr-text">&copy; <%= Date.today.strftime("%Y") %> Aaron Johnson. All rights reserved.</p>
				</div>
				<div class="span6">
					<a href="https://twitter.com/sumaaronjohnson" class="twitter-follow-button pull-right" data-show-count="false">Follow @sumaaronjohnson</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>
		</div>
	</div>