<div class="header">
			<div class="container-narrow b-border">
				<div class="row-fluid">
					<div class="span7">
						<p class="myname">
							<%= link_to image_tag("aj.png", size: "30x45"), root_path, class: "logo" %>	
						</p>
					</div>
					</div>
					<div class="span5">
						&nbsp;
				</div>
			</div>
		</div>